[settings]
skip=migrations
force_single_line = true
known_django=django
known_django_dep=rest_framework
known_standard_library=ipaddress
sections=FUTURE,STDLIB,THIRDPARTY,DJANGO,DJANGO_DEP,FIRSTPARTY,LOCALFOLDER
